
.main-config-panel {
  width: 340px;
  flex: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.form {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.semi-tabs {
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
}
.semi-tabs-bar{
  height: 53px;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  .semi-tabs-tab{
    margin: 0 35px;
  }
  .semi-tabs-tab-single.semi-tabs-tab{
    color: var(--semi-color-text-0);
    &:hover{
      color: var(--semi-color-primary);
    }
  }
  .semi-tabs-tab-single.semi-tabs-tab-active{
    color: var(--semi-color-primary);
    font-weight: bold;
  }
}
.semi-tabs-content{
  flex-grow: 1;
  overflow-y: auto;
}
.form-main{
  padding: 15px 20px 0 20px;
  
}
.form-title{
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  margin-top: 12px;
  &:first-child{
    margin-top: 0;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-subTitle{
  font-size: 12px;
  line-height: 22px;
  color: var(--ccm-chart-N500);
  font-weight: 500;
  margin-top: 8px;
}
.form-item{
  display: flex;
  flex-direction: column;
  .semi-select{
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--divider);
    margin: 8px 0;
    border-radius: 6px;
  }
  .semi-input-wrapper{
    background-color: transparent;
    border: 1px solid var(--divider);
    border-radius: 6px;
    margin: 8px 0;
  }
}

.btn {
  align-self: flex-end;
  margin: 0 20px;
}